<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.black.unicorn.demo.dao.mapper.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.black.unicorn.demo.dao.model.Store" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_desc" property="storeDesc" jdbcType="VARCHAR" />
    <result column="store_first_letter" property="storeFirstLetter" jdbcType="VARCHAR" />
    <result column="mall_id" property="mallId" jdbcType="VARCHAR" />
    <result column="floor_no" property="floorNo" jdbcType="VARCHAR" />
    <result column="map_area_id" property="mapAreaId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="category_display" property="categoryDisplay" jdbcType="VARCHAR" />
    <result column="weights" property="weights" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>
</mapper>